body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    margin-top: 20px;
    font-size: 2.5rem;
}

td button {
    margin-right: 2px;
}


#vm-list {
    margin-top: 30px;
}

table {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

button {
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

#modal {
    background-color: rgba(0, 0, 0, 0.6);
}

#modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#loading {
    font-size: 20px;
    color: #6c757d;
}

.notifications {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.notification {
    background: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInOut 4s ease forwards;
}

.notification.success {
    background-color: #28a745;
    color: white;
}

.notification.error {
    background-color: #dc3545;
    color: white;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
}
.tab {
    background: #200122;
    background: -webkit-linear-gradient(to bottom, #6f0000, #200122);
    background: linear-gradient(to bottom, #6f0000, #200122);
    padding: 40px 50px;
    position: relative;
}
.tab:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#2e3a6a, #2f0b45);
    opacity: 0.85;
}
.tab .nav-tabs {
    border-bottom: none;
    padding: 0 20px;
    position: relative;
}
.tab .nav-tabs li {
    margin: 0 30px 0 0;
}
.tab .nav-tabs li a {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    padding: 0;
    margin-right: 0;
    border: none;
    border-bottom: 2px solid transparent;
    opacity: 0.5;
    position: relative;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover {
    background: transparent;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover {
    border: none;
    background: transparent;
    opacity: 1;
    border-bottom: 2px solid #eec111;
    color: #fff;
}
.tab .tab-content {
    padding: 20px 0 0 0;
    margin-top: 40px;
    background: transparent;
    position: relative;
}
.form-horizontal .form-group {
    margin: 0 0 15px 0;
}
.form-horizontal .form-control {
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus {
    box-shadow: none;
    outline: none;
}
.form-horizontal .btn {
    width: 100%;
    background: #eec111;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
}

.user-info-container .card {
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info-container .card-title {
    font-size: 18px;
    color: #333;
}

.user-info-container code {
    font-size: 12px;
    word-wrap: break-word;
    color: #6c757d;
}

#logout-btn {
    display: block;
}
